# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_JANUS_LEFT

config ZMK_KEYBOARD_NAME
    default "JHL-janus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JANUS_LEFT || SHIELD_JANUS_RIGHT
config ZMK_SPLIT
    default y
endif