/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV_PAD 2
#define ADJ_FUN 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
    &kp Q          &kp W          &kp E          &kp R          &kp T          &kp Y          &kp U          &kp I          &kp O          &kp P
    &lt NAV_PAD A  &kp S          &kp D          &kp F          &kp G          &kp H          &kp J          &kp K          &kp L          &lt NUM_SYM SEMI 
    &hm LSHFT Z    &kp X          &hm LALT C     &kp V          &kp B          &kp N          &kp M          &hm RALT COMMA &hm RCTRL DOT
    &kp LCTRL      &none          &hm LGUI SQT   &lt NUM_SYM BSPC              &lt NAV_PAD SPACE             &hm LALT TAB   &none          &hm RSHFT FSLH
            >;
        };
        num_sym {
            bindings = <
    &kp F1         &kp F2         &kp F3         &kp F4         &kp F5         &kp F6         &kp F7         &kp F8         &kp F9         &kp F10
    &kp N1         &kp N2         &kp N3         &kp N4         &kp N5         &kp N6         &kp N7         &kp N8         &kp N9         &kp N0
    &kp LSHFT      &kp BSLH       &kp GRAVE      &kp SQT        &kp FSLH       &kp MINUS      &kp EQUAL      &kp LBKT       &kp RBKT
    &trans         &none          &trans         &trans                        &kp ENTER                     &trans         &none          &trans
            >;
        };

        nav_pad {
            bindings = <
    &kp ESC        &bt PG_UP      &kp UP         &kp HOME       &kp C_VOL_UP   &kp C_BRI_UP   &kp HOME       &kp UP         &kp PG_UP      &reset
    &trans         &kp LEFT       &kp DOWN       &kp RIGHT      &kp C_MUTE     &none          &kp LEFT       &kp DOWN       &kp RIGHT      &bootloader
    &bt BT_CLR     &kp PG_DN      &bt BT_NXT     &kp END        &kp C_VOL_DN   &kp C_BRI_DN   &kp END        &bt BT_PRV     &kp PG_DN
    &trans         &none          &trans         &kp DEL                       &trans                        &trans         &none          &trans
            >;
        };

/*
        adj_fun {
            bindings = <
    &bt BT_CLR     &bt BT_NXT     &bt BT_PRV     &out OUT_BLE   &out OUT_USB  &kp KP_MINUS    &kp KP_N7      &kp KP_N8      &kp KP_N9      &kp KP_NUM
    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4  &kp KP_ASTERISK &kp KP_N4      &kp KP_N5      &kp KP_N6      &kp KP_PLUS
    &kp F11        &kp F12        &kp F13        &kp F14        &kp F15       &kp KP_SLASH    &kp KP_N1      &kp KP_N2      &kp KP_N3
    &reset         &none          &bootloader    &trans                       &trans                         &kp KP_N0      &none          &kp KP_ENTER
            >;
        };
*/

    };
};