#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define SPEC 4

#define BLE OUT_BLE
#define USB OUT_USB

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
/* Default (ArrowKeys-DH)
 */
            bindings = <
                &kp UP
            &kp LEFT    &kp RIGHT
                &kp DOWN
                        &mo SPEC
            >;
        };

        lower {
/* LOWER (Mouse click) - triggered LEFT
 */
            bindings = <
                &mkp MB3
            &mkp MB1    &mkp MB2
                &kp LCTRL
                        &mo SPEC
            >;
        };

        raise {
/* RAISE (BrowserNav) triggered RIGHT
*/
            bindings = <
                &kp F5
            &mkp MB4    &mkp MB5
                &kp ESC
                        &mo SPEC
            >;
        };
 
        adjust {
/* ADJUST (BT) triggered DOWN
 */
            bindings = <
                &bt BT_NXT
            &out BLE    &out USB
                &bt BT_CLR
                        &mo SPEC
            >;
        };

        special {
/* SPECIAL (layer swap)
 */
            bindings = <
                &to DEF
            &to LWR     &to RSE
                &to ADJ
                        &trans
            >;
        };
    };
};
